<div class="js-hostTeam team host">
   <div class="player js-firstHost"></div>
   <div class="player js-secondHost"></div>
</div>
<div class="score">
    <div class="score-line js-game0">
        <input class ="host" value="0" type="number" pattern="[0-9]*">
        <input class ="guest" value="0" type="number" pattern="[0-9]*">
    </div>
    <div class="score-line js-game1">
        <input class ="host" value="0" type="number" pattern="[0-9]*">
        <input class ="guest" value="0" type="number" pattern="[0-9]*">
    </div>
</div>
<div class="js-guestTeam team guest">
    <div class="player js-firstGuest"></div>
    <div class="player js-secondGuest"></div>
</div>
