<div class="js-guestTeam team guest">
    <div class="player js-firstGuest"></div>
    <div class="player js-secondGuest"></div>
</div>
<div class="score">
    <div class="score-line js-game0">
        <div name="guestScore0" class ="guest scoreBtn">-</div>
        <div name="hostScore0" class ="host scoreBtn">-</div>
    </div>
    <div class="score-line js-game1">
        <div name="guestScore1" class ="guest scoreBtn">-</div>
        <div name="hostScore1" class ="host scoreBtn">-</div>
    </div>
</div>
<div class="js-hostTeam team host">
    <div class="player js-firstHost"></div>
    <div class="player js-secondHost"></div>
</div>
