<div class="js-hostTeam team host">
   <div class="player js-firstHost"></div>
   <div class="player js-secondHost"></div>
</div>
<div class="score">
    <div class="score-line">
        <div>5</div>
        <div>1</div>
    </div>
    <div class="score-line">
        <div>5</div>
        <div>1</div>
    </div>
</div>
<div class="js-guestTeam team guest">
    <div class="player js-firstGuest"></div>
    <div class="player js-secondGuest"></div>
</div>
