<div class="big-header no-select">
    <div  class="big-logo">
        <img class="js-placeImage" src="{{placeImage}}">
    </div>
    <div class="js-name name"><h2 name="placeName" >{{placeName}}</h2></div>
    <div class="name date-and-time">12.08.12 15:00</div>
</div>

<div class="">
    <div class="js-protocolRegion">

    </div>
</div>