<div class="team-header">
    <div class="team-logo">
        <img src="{{placeImage}}">
    </div>
    <div class="js-name team-name"><h2>{{placeName}}</h2></div>
    <div class="team-name date-and-time">12.08.12 15:00</div>
</div>

<div class="team-body">
    <div class="js-protocolRegion">

    </div>
</div>