<div class="js-hostTeam team host small">
    <div class="player"></div>
</div>
<div class="score">
    <div class="score-line js-game0">
        <input data-name="hostScore" class ="host" value="0"  pattern="[0-9]*">
    </div>
    <div class="score-line js-game1">
        <input data-name="hostScore" class ="host" value="0"  pattern="[0-9]*">
    </div>
</div>
<div class="js-guestTeam team guest">
    <div class="player"></div>
</div>
