<div class="meeting-team">
    <div class="name">{{hostName}}</div>
    <div class="logo" {{#if hostLogo}}style="background-image: url({{hostLogo}})"{{/if}}></div>
</div>
<div class="meeting-team">
    <div class="logo" {{#if guestLogo}}style="background-image: url({{guestLogo}}){{/if}}"></div>
    <div class="name">{{guestName}}</div>
</div>

<div class="game">
    <div class="team">
        <div class="player">Колесин</div>
        <div class="player">Калтавский</div>
    </div>
    <div class="score">
        <div class="score-line">
            <div>5</div>
            <div>1</div>
        </div>
        <div class="score-line">
            <div>5</div>
            <div>1</div>
        </div>
    </div>
    <div class="team">
        <div class="player">Павлухин</div>
        <div class="player">Махинько</div>
    </div>
</div>

<div class="game">
    <div class="team">
        <div class="player">Басманова</div>
        <div class="player">Фандеев</div>
    </div>
    <div class="score">
        <div class="score-line">
            <div>5</div>
            <div>1</div>
        </div>
        <div class="score-line">
            <div>5</div>
            <div>1</div>
        </div>
    </div>
    <div class="team">
        <div class="player">Павлухин</div>
        <div class="player">Аксенов</div>
    </div>
</div>

<div class="game">
    <div class="team">
        <div class="player">Аксенов</div>
    </div>
    <div class="score">
        <div class="score-line">
            <div>5</div>
            <div>1</div>
        </div>
        <div class="score-line">
            <div>5</div>
            <div>1</div>
        </div>
    </div>
    <div class="team">
        <div class="player">Колесин</div>
    </div>
</div>

<div class="game">
    <div class="team">
        <div class="player">Киррилова</div>
    </div>
    <div class="score">
        <div class="score-line">
            <div>5</div>
            <div>1</div>
        </div>
        <div class="score-line">
            <div>5</div>
            <div>1</div>
        </div>
    </div>
    <div class="team">
        <div class="player">Калтавский</div>
    </div>
</div>

<div class="game">
    <div class="team">
        <div class="player">Попович</div>
        <div class="player">Чусова</div>
    </div>
    <div class="score">
        <div class="score-line">
            <div>5</div>
            <div>1</div>
        </div>
        <div class="score-line">
            <div>5</div>
            <div>1</div>
        </div>
    </div>
    <div class="team">
        <div class="player">Рыбкина</div>
        <div class="player">Шумилова</div>
    </div>
</div>

<div class="game">
    <div class="team">
        <div class="player">Панфилов</div>
        <div class="player">Маркин</div>
    </div>
    <div class="score">
        <div class="score-line">
            <div>5</div>
            <div>1</div>
        </div>
        <div class="score-line">
            <div>5</div>
            <div>1</div>
        </div>
    </div>
    <div class="team">
        <div class="player">Путин</div>
        <div class="player">Иисус</div>
    </div>
</div>


