<div>Players:</div>
<div class="preloader"></div>
<ul class="js-listRegion list-group"></ul>
<div class="js-newPlaceRegion">
    <button type="button" class="btn btn-primary js-createPlaceBtn">Добавить место</button>
</div>
