    <div class="container">

    </div>
    <button class="btn btn-warning js-single">+S</button>
    <button class="btn btn-info js-double">+D</button>
    <button class="btn btn-danger js-delete delete">&nbsp;</button>
    <label class="form-check-label">
        <input type="checkbox" class="form-check-input">
        Пенальти
    </label>