<div class="image"></div>
<div class="name">{{name}}</div>
<div class="badge badge-default short-name" name="shortName"> </div>
<div class="wins">2{{wins}}</div>
<div class="score">2{{score}}</div>
<div class="fails">4{{fails}}</div>

