<button type="button" class="btn btn-primary js-createTeam">Создать команду</button>
<div class="table-header small-header">
    <div class="image"></div>
    <div class="name">Name</div>
    <div class="short-name">Abbr.</div>
    <div class="wins">Wins</div>
    <div class="score">Score</div>
    <div class="fails">Fails</div>
    <div class="win-rate">Win rate</div>
</div>
<div class="preloader"></div>
<div class="js-filterRegion"></div>
<ul class="js-listRegion list-group"></ul>
</div>
