<div class="table-header small-header">
    <div class="image"></div>
    <div class="name">Name<span> ⇅</span></div>
    <div class="short-name">Abbr.<span> ⇅</span></div>
    <div class="wins">Wins<span> ⇅</span></div>
    <div class="score">Score<span> ⇅</span></div>
    <div class="fails">Fails<span> ⇅</span></div>
    <div class="win-rate">Win rate<span> ⇅</span></div>
    <div class="settings"><div class="icon"></div></div>
</div>
<div class="preloader"></div>
<div class="js-filterRegion"></div>
<ul class="js-listRegion list-group"></ul>
<div class="js-newTeamRegion">
</div>
