<div class="big-header no-select">
    <div  class="big-logo js-logoRegion">

    </div>
    <div class="js-name name"><h2 name="name" >{{name}}</h2></div>
    <div class="name date-and-time js-date">—</div>
    <div class="state-message">

    </div>
    <div class='state'>
        <button class="btn btn-primary js-openBtn">Открыть регистрацию</button>
        <button class="btn btn-danger js-closeBtn">Закрыть регистрацию</button>
        <button class="btn btn-success js-startBtn">Начать сезон</button>
    </div>
</div>

<div class="">
    <div class="js-subSeasonsRegion">

    </div>
</div>