<div class="big-header no-select">
    <div  class="big-logo js-logoRegion">

    </div>
    <div class="js-name name"><h2 name="name" >{{name}}</h2></div>
    <div class="name date-and-time js-date">—</div>
</div>

<div class="">
    <div class="js-subSeasonsRegion">

    </div>
</div>