<div class="table-header small-header">
    <div class="image"></div>
    <div class="host">Host<span> ⇅</span></div>
    <div class="score">HS<span> ⇅</span></div>
    <div class="score">GS<span> ⇅</span></div>
    <div class="guest">Guest<span> ⇅</span></div>
    <div class="image"></div>
    <div class="date">Date<span> ⇅</span></div>
    <div class="protocol"></span></div>
    <!--<div class="settings"><div class="icon"></div></div>-->
</div>
<div class="preloader"></div>
<div class="js-filterRegion"></div>
<ul class="js-listRegion list-group"></ul>
<div class="js-newTeamRegion">
</div>
