
.done {
  transition-property: all;
  transition-duration: .4s;
  &.sign-up {
    height: 55px;
  }
  &.big-header {
    height: 140px;
  }
  .text-block, .header-form {
    opacity: 0;
    display: none;
  }
}

.sign-up {
  .overlay-gradient{
    mix-blend-mode: overlay;
    opacity: 0.3;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: -moz-linear-gradient(-45deg, rgba(255,255,126,1) 0%, rgba(125,211,162,0) 50%, rgba(0,168,197,0.1) 98%, rgba(0,168,197,0.1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(255,255,126,1) 0%,rgba(125,211,162,0) 50%,rgba(0,168,197,0.1) 98%,rgba(0,168,197,0.1) 100%);
    background: linear-gradient(135deg, rgba(255,255,126,1) 0%,rgba(125,211,162,0) 50%,rgba(0,168,197,0.1) 98%,rgba(0,168,197,0.1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff7e', endColorstr='#1a00a8c5',GradientType=1 )
  }
  color: $soft-white;
  background: $soft-white;
  height: 500px;
  background-image: url(../images/signup_bg.png);
  //background-size: 100%;
  background-repeat: repeat;
  background-position: 50% top;
  position: relative;
  .logo {
    background-image: url(../images/logo.png);
    cursor:pointer;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% bottom;
    width: 40px;
    height: 60px;
    top: -3px;
    position: relative;
    //TODO: make svg logo and add better styles for it
  }
  .text-block {
    width: 500px;
    text-align: center;
    position: relative;
    @include strict-center(-50%, -50%);
    top: 40%;
    font-size: 19px;
    button{
      margin-top: 20px;
    }
  }
  .login-button {
    background-color: transparent;
    border: none;
    right: 10px;
    top: 10px;
    position: absolute;
    &:hover {
      background-color: transparent;
      border: none;
    }
  }
}

.login-form {
  z-index: 10000;
  width: 350px;
  position: absolute;
  right: 20px;
  top: 10px;
  background: $soft-white;
  input {
    border-radius: 0;
    background: $soft-white;
    margin: 10px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);

  }
  .login {
    border: none;
    margin: 10px;
    color: $soft-white;
    border-color: transparent;
    @include linear-gradient();
  }
}
.header-button {
    color: #fffbe7;
    border: none;
    @include linear-gradient();
    font-family: FuturaBook,Helvetica,Arial,sans-serif;
    -webkit-box-shadow: 0px 10px 0px 0px rgba(53, 60, 75, 1);
    -moz-box-shadow:    0px 10px 0px 0px rgba(53, 60, 75, 1);
    box-shadow:         0px 10px 0px 0px rgba(53, 60, 75, 1);
  }

