.seasons {
  button{
    margin-top: 5px;
  }

  .table-header, .list {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    overflow: hidden;
    border: none;
    margin-bottom: 3px;
    border-bottom: 1px $light-gray-shadow solid;
  }
  .table-header {
    padding-top: 25px;
    height: 60px;
  }
}