.subseason {
  .divisions {
    .add-button{
      cursor: pointer;
      background-color: $brend-blue-light;
      color:white;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      border: none;
      border-bottom: 1px solid $brend-blue;
      &:hover{
        background-color: $brend-blue;
        border-bottom: 1px solid black;
      }
    }
    .nav-divisions{
      padding: 0;
    }
  }
  .details{
    background-color: white;
  }
}