
.team-layout {
  top: -100px;
}

.team-logo-small {
  width: 100px;
  height: 100px;
  float: left;
  img {
    width: 100px;
    height: 100px;
  }
}

.player-photo-small {
  width: 40px;
  height: 40px;
  float: left;
  img {
    width: 40px;
    height: 40px;
  }
}

.small-padding {
  padding: 5px;
}

.team-players-container {
  display: flex;
  justify-content: left;
  overflow:hidden;
  //flex-wrap:wrap;
  //TODO: move to component as default flex container;
}

.selector {
  .team-players-container {
    flex-wrap: wrap;
  }
}

button.team-player{
  cursor: pointer;
  line-height: 19px;
  text-align: center;
  background-color: #DBDBDB;
  color:$white;
  border:none;
  span{
    font-size: 70px;
  }
  &:hover{
    background-color: #BBBBBB;
  }
}
