<div class="col-6">
    <div class="form-group">
        <label for="formGroupExampleInput">Name</label>
        <input name="name" type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
    </div>
    <button type="submit" class="btn btn-primary js-addSeasonBtn">Submit</button>
</div>