<div name="_id"></div>
<div name="name"></div>
<div><button class="js-startSeasonBtn">Начать сезон</button></div>
{{#if isBegan}} <div><button class="js-calculateSeasonBtn">Расчитать встречи</button></div>{{/if}}