<div class="table-header small-header">
    <h2>Сезоны</h2>
</div>
<div class="preloader"></div>
<div class="js-filterRegion"></div>
<div class="js-listRegion list"></div>
<button class="btn btn-primary js-addSeasonBtn">Добавить сезон</button>
</div>
