<div class="img"  {{#if image}} style="background-image: url({{image}})" {{/if}}>
    <!--<img src="{{image}}">-->
</div>

<div class="footer">
    <span class="name" name="name"></span>
    <br>
    <span class="name js-state"></span>
</div>
