//$enable-rounded:false!default;

@import "~bootstrap/scss/bootstrap";
//TODO: remove select2 if it will not use
@import "~select2/src/scss/core";
@import "./settings.scss";
@import "./mixins.scss";
@import "./views/login.scss";
@import "./views/team.scss";
@import "./views/user.scss";

@import "./widgets/uploadForm.scss";
@import "./widgets/preloader.scss";


@font-face {
  font-family: "FuturaBook";
  src: url(../fonts/FuturaBookC.woff) format("woff");
}

body{
  background-color: $soft-white;
  color: $gray-light;
  font-family: FuturaBook,Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
}

.app-contanier{
  position: absolute;
  width: 100%;
  background: $soft-white

}

.app-modal{
  z-index: 100000;
  background-color: rgba(0,0,0,0.4);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  &.hide {
    display: none;
    opacity: 0;
  }
  .modal-block{
    background-color: $soft-white;
    width:600px;
    height: 800px;
    @include strict-center();
    position: absolute;
    padding: 40px;
  }
}

.nav-link{
  color:$soft-white;
  &:hover{
    color:rgb(255, 231, 221);
  }
  &:visited{
    color:$soft-white;
  }
  &.active{
    color: rgb(255, 220, 88);
  }
}
.nav{
  right: 10px;
  top: 5px;
  position: absolute;
}
