//$enable-rounded:false!default;

@import "~bootstrap/scss/bootstrap";
@import "./settings.scss";
@import "./mixins.scss";
@import "./views/login.scss";
@import "./views/team.scss";

@import "./widgets/uploadForm.scss";
@import "./widgets/preloader.scss";

body{
  background-color: #cccccc;
  color: $gray-light;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
}

.app-contanier{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);

}

.app-modal{
  z-index: 100000;
  background-color: rgba(0,0,0,0.4);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  &.hide {
    display: none;
    opacity: 0;
  }
}

.nav-link{
  color:$soft-white;
  &:hover{
    color:rgb(255, 231, 221);
  }
  &:visited{
    color:$soft-white;
  }
  &.active{
    color: rgb(255, 220, 88);
  }
}
.nav{
  right: 10px;
  top: 5px;
  position: absolute;
}
