////$enable-rounded:false!default;
@import "~bootstrap/scss/bootstrap";
@import "~cropperjs/dist/cropper.min.css";
@import "~pikaday/scss/pikaday";
@import "~flatpickr/dist/flatpickr.min.css";
@import "./settings.scss";
@import "./mixins.scss";
@import "./views/*";
@import "./widgets/*";

@font-face {
  font-family: "FuturaBook";
  src: url(/front/fonts/FuturaBookC.woff) format("woff");
}

body {
  background-color: $soft-white;
  color: $gray-light;
  //font-family: FuturaBook, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  background: $soft-white;
  font-size:16px;
}

@media screen and (min-resolution: 2dppx) {
  body {
    font-size: 32px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 1000px) {
  .container {
    max-width: 1000px;
  }
}



.app-contanier, .app {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.main {
  .nav-link {
    color: $soft-white;
    &:hover {
      color: rgb(255, 231, 221);
    }
    &:visited {
      color: $soft-white;
    }
    &.active {
      color: rgb(255, 220, 88);
      text-decoration: underline;
    }
  }
}

.nav {
  &.main {
    right: 10px;
    top: 11px;
    position: absolute;
  }
}

.btn-group {
  &.main {
    display: none;
  }
}
@media screen and (min-resolution: 2dppx) {
  .nav {
    &.main {
      display: none;
    }
  }
.btn-group {
  &.main {
    right: 30px;
    top: 30px;
    position: absolute;
    display: block;
    z-index: 100000;
  }
  .btn-menu {
    background-image: url(../images/menu_button.png);
    cursor: pointer;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% bottom;
    width: 80px;
    height: 80px;
  }
  .menu-dropdown{
    //display: none;
    position: absolute;
    right: 0;
    background-color: #434f67;
    top: 90px;
    width: 10px;
    z-index: -1;
    opacity: 0;
    padding-left: 20px;
    padding-right: 20px;
    transition-property: width;
    transition-duration: .25s;
    a{
      height: 140px;
      line-height: 140px;
      border-bottom: 1px solid #5c6881;
      &:hover{
        color: wheat;
      }
    }
    &.opened{
      z-index: 10000000;
      opacity: 1;
      width: 600px;
    }
  }
}
}

.modal-input {
  margin-bottom: 5px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #CCC;
  height: 50px;
  border-left: 1px solid $soft-white;
}

.small-header {
  height: 52px;
  .nav{
    top: 10px;
    position: absolute;
  }
}

.container {
  .body {
    &.admin {
      background-color: white;
    }
  }
}

.app-footer{
  background-color: #d2d6d8;
  bottom: 0;
  height: 16px;
  width: 100%;
  position: fixed;
  color: #f0f0f0;
  span{
    right: 5px;
    position: absolute;
    color: #999;
    font-size: 12px;
  }
}

.modal-body {
  height: 80%;
  overflow: scroll;
}

.admin-login-button{
  display: none;
}

@media screen and (min-resolution: 2dppx) {
  .small-header {
    height: 100px;
    .nav {
      top: 10px;
      position: absolute;
    }
  }
}
