$soft-white: rgba(240, 240, 240,1);
$light-green: rgb(171,254,170);
$dark-green: rgb(65,254,181);
$light-gray:#EEE;
$light-gray-shadow:#E0E0E0;
$medium-gray:#ccc;
$dark-gray:#BBB;
$black:rgba(0,0,0,1);
$brend-blue:rgba(61,65,77,1);
$brend-blue-light:#025aa5;

