$soft-white: rgba(240, 240, 240,1);
$light-green: #FFE98A;
$dark-green:  #D74177;
$light-gray:#EEE;
$light-gray-shadow:#E0E0E0;
$medium-gray:#ccc;
$dark-gray:#BBB;
$black:rgba(0,0,0,1);
$brend-blue:rgba(61,65,77,1);
$brend-blue-light:#025aa5;

