<div class="small-header no-select">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="#">Встречи</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Сезоны</a>
        </li>
    </ul>
</div>

<div class="body admin">
lol
</div>