<div class="img"  {{#if image}} style="background-image: url({{image}})" {{/if}}>
    <button type="button" class="close js-deleteBtn float-right " data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <!--<img src="{{image}}">-->
</div>

<div class="footer">
    <span class="" name="name"></span>
    <span class="" name="time"></span>
</div>
