<div class="img"  {{#if image}} style="background-image: url({{image}})" {{/if}}>
    <button type="button" class="close js-deleteBtn float-right " data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <!--<img src="{{image}}">-->
</div>

<div class="footer">
    <h6>{{name}}
        <span class="" name="firstName"></span>
        <span class="" name="secondName"></span>
    </h6>
</div>
