<div class="form-inline">
    <label class="sr-only" for="inlineFormInput">Name</label>
    <input name="name" type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Team name">

    <label class="sr-only" for="inlineFormInput">Name</label>
    <input name="shortName" type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Short name">

    <button type="submit" class="btn btn-primary js-addTeamBtn">Create</button>
</div>