<div>
    <div class="team-logo-small"><img src="{{image}}"></div>
    <h3 style="float:left">{{name}}
        <span class="badge badge-default" name="firstName"></span>
        <span class="badge badge-default" name="secondName"></span>
    </h3>
</div>
