<div class="team-header">
    <div class="js-logoRegion team-logo"></div>
    <div class="js-name team-name"><h2>{{name}} <span class="badge badge-default">{{shortName}}</span></h2></div>
    <div class="js-name team-name">
        <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="a">
        </select>
    </div>
</div>

<div class="clearfix"></div>
<div class="team-body">

    <div class="js-playersRegion team-section">
    </div>

    <div class="js-meetingsRegion team-section">
    </div>

    <div class="team-section">
    </div>

</div>