<div class="container-fluid sign-up">
    <div class="overlay-gradient"></div>
    <div data-url="main" class="js-logo logo"></div>
    <div>
        <nav class="nav main">
            <a data-url="teams" class="nav-link js-teams" href="#">Команды</a>
            <a data-url="players" class="nav-link js-players" href="#">Игроки</a>
            <a data-url="seasons" class="nav-link js-seasons" href="#">Сезоны</a>
            <!--<a data-url="meetings" class="nav-link js-meetings" href="#">Встречи</a>-->
            <a data-url="cities" class="nav-link js-cities" href="#">Места</a>
            <a data-url="signin" class="nav-link js-login admin-login-button" href="#">Войти</a>
        </nav>
        <div class="btn-group main">
            <div  class="btn-menu js-menuBtn">

            </div>
            <div class="menu-dropdown js-dropdown">
                <a data-url="teams" class="nav-link js-teams" href="#">Команды</a>
                <a data-url="players" class="nav-link js-players" href="#">Игроки</a>
                <a data-url="seasons" class="nav-link js-seasons" href="#">Сезоны</a>
                <!--<a data-url="meetings" class="nav-link js-meetings" href="#">Встречи</a>-->
                <a data-url="cities" class="nav-link js-cities" href="#">Места</a>
                <!--<a data-url="" class="nav-link js-login admin-login-button" href="#">Войти</a>-->
            </div>
        </div>
    </div>
    <div class="text-block">
        <h1>Лига настольного футбола!</h1>
        <span>
            Участвуй в ежегодном командном состязании, за звание главных шашлычников города!
        </span>
        <br>
        <button type="submit" class="js-registration btn btn-primary btn-lg header-button">Участвовать</button>
    </div>
</div>

<div class="container-fluid js-contentRegion">

</div>

<div class="js-ModalRegion app-modal hide">

</div>

<!--<div class="app-footer">-->
    <!--<span>0.1.0</span>-->
<!--</div>-->
