<div class="container-fluid sign-up">
<div>
    <button class="js-login btn btn-primary login-button">Войти</button>
</div>
<div class="text-block">
    <h1>Присоеденяйся!</h1>
    <span>
        Зарегестрируй свою команду и участвуй в состязании за звание лучших шашлычников Питера
    </span>
</div>
<div class="js-signupRegion">

</div>
<div class="js-signinRegion">

</div>
</div>
<div class="container-fluid js-contentRegion">

</div>