<div class="text-block">
    <h1>Присоеденяйся!</h1>
    <span>
        Зарегестрируй свою команду и участвуй в состязании за звание лучших шашлычников Питера
    </span>
</div>
<form class="form-inline header-form">
    <label class="sr-only" for="inlineFormInput">Email</label>
    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0 btn-lg" id="inlineFormInput" placeholder="Email">

    <label class="sr-only" for="inlineFormInputGroup">Password</label>
    <input type="password" class="form-control mb-2 mr-sm-2 mb-sm-0 btn-lg" id="inlineFormInput" placeholder="Password">

    <button type="submit" class="btn btn-primary btn-lg">Участвовать</button>
</form>