<div class="container-fluid sign-up">
    <div class="overlay-gradient"></div>
    <div  data-url="user"  class="js-logo logo"></div>
<div>
    <!--<button class="js-login btn btn-primary login-button">Войти</button>-->
    <nav class="nav">
        <a data-url="teams" class="nav-link js-teams" href="#">Команды</a>
        <a data-url="players" class="nav-link js-players" href="#">Игроки</a>
        <a data-url="seasons" class="nav-link js-seasons" href="#">Сезон</a>
        <a data-url="meetings" class="nav-link js-meetings" href="#">Встречи</a>
        <a data-url="places" class="nav-link js-places" href="#">Места</a>
        <a data-url="" class="nav-link js-login" href="#">Войти</a>
    </nav>
</div>
<div class="text-block">
    <h1>Присоединяйся!</h1>
    <span>
        Зарегестрируй свою команду и участвуй в состязании за звание лучших шашлычников Питера
    </span>
</div>
<div class="js-signupRegion">

</div>
<div class="js-signinRegion">

</div>
</div>

<div class="container-fluid js-uploadRegion">

</div>

<div class="container-fluid js-contentRegion">

</div>

<div class="js-ModalRegion app-modal hide">

</div>
