.big-header {
  border-bottom: 1px solid $light-gray;
  width: 100%;
  padding-bottom: 10px;
  display: inline-block;

  .name {
    text-align: center;
    padding-top: 10px;
  }

  .big-logo {
    position: relative;
    @include strict-center(-50%, 0);
    left: 50%;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    overflow: hidden;
    background-color: $white;

    img {
      width: 200px;
      height: 200px;
    }
  }

}

.big-header.no-select {
  .name {
    text-decoration: underline;
    cursor: pointer;
  }
}