.flex-card {
  flex-basis:140px;
  width: 140px;
  min-width: 90px;
  height: 200px;
  margin: 2px;
  cursor: pointer;
  background-color: white;
  .img {
    width: 100%;
    height: 140px;
    background-image: url(../images/empty_avatar.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% top;
    //border-radius: 100px;
    button.close {
      position: relative;
      display: none;
      right: 5px;
      top: 0;

    }
    &:hover {
      button.close {
        display: block;
      }
    }
  }
  .footer {
    font-size: 13px;
    font-weight: bold;
    padding-top: 10px;
    width: 100%;
    height: 50px;
    text-align: center;
  }
  &:hover{
    background-color: $hover-yellow;
    .img{
      background-blend-mode: luminosity;
      background-color: $hover-yellow;
    }
  }
  &.score-card{
    font-size: 100px;
    text-align: center;
    line-height: 190px;
  }
}

@media screen and (min-resolution: 2dppx) {
  .flex-card {
    flex-basis: 280px;
    width: 280px;
    min-width: 180px;
    height: 400px;
    margin: 4px;
    cursor: pointer;
    background-color: white;
    .img {
      height: 280px;
    }
    .footer {
      font-size: 30px;
      font-weight: bold;
      padding-top: 20px;
      width: 100%;
      height: 100px;
      text-align: center;
    }

    &.score-card {
      font-size: 200px;
      text-align: center;
      line-height: 280px;
    }
  }
}
