.flex-card {
  flex-basis:140px;
  width: 140px;
  min-width: 90px;
  height: 200px;
  margin: 2px;
  background-color: $white;
  .img {
    width: 100%;
    height: 140px;
    background-image: url(../images/empty_avatar.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% top;
    //border-radius: 100px;
    button.close {
      position: relative;
      display: none;
      right: 5px;
      top: 0;

    }
    &:hover {
      button.close {
        display: block;
      }
    }
  }
  .footer {
    font-size: 13px;
    font-weight: bold;
    padding-top: 10px;
    width: 100%;
    height: 50px;
    text-align: center;
  }
}
