<div class="row">
    <div class="col-3">
    <h4 class="alert-heading">Участники:</h4>
    </div>
    <div class="col-9">
        <h4 class="alert-heading">Встречи::</h4>
    </div>
</div>
<div class="row">
    <div class="col-3 js-teamsList"></div>
    <div class="col-9 js-meetingsTable"></div>
</div>
<div class="row">
    <div class="col-3">
        <button type="button" class="btn btn-primary js-addTeam">Заявить команду</button>
    </div>
</div>