<div class="row">
    <div class="col-4">
    <h4 class="alert-heading">Участники:</h4>
    </div>
    <div class="col-8">
        <h4 class="alert-heading">Встречи::</h4>
    </div>
</div>
<div class="row">
    <div class="col-4 js-teamsList"></div>
    <div class="col-8 js-meetingsTable"></div>
</div>
<div class="row">
    <div class="col-4">
        <button type="button" class="btn btn-primary js-addTeam">Заявить команду</button>
    </div>
</div>