<div class="container user-layout">

    <h2>
        {{email}}
    </h2>
    <button type="button" class="btn btn-primary js-createTeam">Создать команду</button>
    <div class ="js-teamsRegion"></div>
</div>
