    <label class="sr-only" for="inlineFormInput">Email</label>
    <input name="email" type="text" class="form-control mb-2 mr-sm-2 mb-sm-0 btn-lg" id="inlineFormInput" placeholder="Email">

    <label class="sr-only" for="inlineFormInputGroup">Password</label>
    <input name="password" type="password" class="form-control mb-2 mr-sm-2 mb-sm-0 btn-lg" id="inlineFormInput" placeholder="Password">

    <button type="submit" class="js-save btn btn-primary btn-lg">Участвовать</button>