
<div class="col-12" style="height:22px">
    <button type="button" class="close js-close-btn">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="col-12">
    <input name="email" type="text" class="form-control mb-2 mr-sm-2 mb-sm-0 btn-lg" id="inlineFormInput" placeholder="Email">
</div>
<div class="col-12">
    <input name="password" type="password" class="form-control mb-2 mr-sm-2 mb-sm-0 btn-lg" id="inlineFormInput" placeholder="Password">
</div>
<div class="col-12">
    <button type="submit" class="login js-login-btn btn btn-primary btn-lg col-12">Войти</button>
</div>