<div class="modal-block">
        <form>
            <div class = "js-logoRegion form-group"></div>
            <div class="form-group">
                <input type="text" name="name" class="form-control"  placeholder="Name">
            </div>
            <div class="form-group">
                <input type="text" name="shortName" class="form-control"  placeholder="ShortName">
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary js-createNewTeam">Создать команду</button>
            </div>
        </form>
</div>