<div class="col-6">
    <div class="form-group">
        <label for="formGroupExampleInput">Name</label>
        <input name="firstName" type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">Short name</label>
        <input name="secondName" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
    </div>
    <button type="submit" class="btn btn-primary js-addPlayerBtn">Submit</button>
</div>